@page "/ResultList"

<h3>Selecciona la temporada para ver los resultados correspondientes</h3>

<div>
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="results/S2">
                Temporada 2 (2022-2023)
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="results/S2-PO">
                Temporada 2 (Playoffs)
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="results/S3">
                Temporada 3 (PRUEBAS)
            </NavLink>
        </div>
    </nav>
</div>

@code {

}