@page "/"

<PageTitle>Index</PageTitle>

<h1>Inizias basket FRIKI LEAGUE!</h1>

Bienvenido a la mejor liga de basket del mundo

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">Mayor racha de victorias</div>
            <div class="card-body">
                <div>EQUIPO 1</div>
                <div>
                    <i class='oi oi-arrow-thick-top'></i>
                    <span class="text">5 victorias</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">Mayor puntuación a favor</div>
            <div class="card-body">
                <div>EQUIPO 2</div>
                <div>
                    <i class='oi oi-arrow-thick-top'></i>
                    <span class="text">1123 puntos anotados</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">Menor puntuación en contra</div>
            <div class="card-body">
                <div>EQUIPO 1</div>
                <div>
                    <i class='oi oi-arrow-thick-bottom'></i>
                    <span class="text">215 puntos en contra</span>
                </div>
            </div>
        </div>
    </div>
</div>


