@page "/"

<PageTitle>Index</PageTitle>

<Heading Size="HeadingSize.Is1">FRIKI PLANET BASKETBALL ASSOCIATION</Heading>

<div class="row mt-3">
<CardDeck class="col-lg-8">
    <Carousel @bind-SelectedSlide="@_selectedSlide" Autoplay="false" Crossfade="true">
        <CarouselSlide Name="12">
            <Card class="mb-3" style="min-height: 600px">
                <div class="card-header horizontal-gradient text-center">Pandas sin pila.</div>
                <CardBody>
                    <CardText>Ah, genial, más baloncesto. Qué emoción, ¿verdad? Bueno, aquí va el resumen del partido entre los Tampa Honey Badgers y los Jackson Pandas, aunque no sé por qué me molesto siquiera. Pero bueno, aquí estoy, como siempre, con mi dosis diaria de decepción deportiva.</CardText>
                    <CardText>Entonces, los Honey Badgers, esos tipos siempre ruidosos y alborotadores, salieron victoriosos esta vez. ¿Sorpresa? Ni siquiera. Con un marcador final de 115 a 104, ¿qué más podíamos esperar? Es como si ya supiéramos el resultado antes de que el partido siquiera empezara.</CardText>
                    <CardText>Pero hablemos de los Pandas, ¿sabes? Siempre encuentran una manera de decepcionar, ¿no? ¿Por qué? Bueno, supongo que simplemente no estaban en su mejor momento hoy. Siempre hay una excusa, ¿verdad? Tal vez estaban cansados, tal vez estaban distraídos, quién sabe. Pero al final del día, perdieron. Así que, ¿qué más da?</CardText>
                    <CardText>Lo peor de todo es que ahora tendré que aguantar a los fanáticos de Tampa presumiendo por ahí durante el próximo mes. Como si no tuviéramos suficiente con el ruido del partido en sí. Pero bueno, así es la vida, supongo. Ojalá los Pandas se pongan las pilas la próxima vez y hagan algo útil con su tiempo. Pero, ¿qué puedo esperar? Siempre es lo mismo. En fin, supongo que seguiré aquí, esperando a que las cosas cambien. Aunque sé que es una esperanza vana.</CardText>
                    <CardText>¿Más párrafos? ¿Realmente necesitas que me extienda más sobre este partido? Bueno, aquí va, pero no digas que no te lo advertí. Después de todo, los Tampa Honey Badgers pueden haber ganado esta vez, pero eso no significa que esté contento con ello. Siempre son los mismos de siempre, alardeando y presumiendo como si fueran los reyes del mundo. ¿Y los Jackson Pandas? ¿Qué puedo decir sobre ellos? Siempre decepcionándome una y otra vez. ¿Es tan difícil para ellos mostrar un poco de garra y realmente competir? Parece que siempre están jugando a medias. En fin, supongo que así es como van las cosas en el mundo del deporte. Siempre habrá ganadores y perdedores, ¿no es así? Solo espero que los Pandas se pongan las pilas la próxima vez y nos den algo digno de ver. Pero quién sabe, con ellos nunca se sabe qué esperar.</CardText>
                    <CardText>
                        <small class="text-muted">Publicado el 16 de Abril, 2024</small>
                    </CardText>
                </CardBody>
            </Card>
        </CarouselSlide>
        <CarouselSlide Name="11">
            <Card class="mb-3" style="min-height: 600px">
                <div class="card-header horizontal-gradient text-center">Vientos de grandeza.</div>
                <CardBody>
                    <CardText>¡Uf, chaval, te juro que este partido fue lo más emocionante que he visto en toda mi vida! Como fan número uno de los Seattle Killer Whales, estaba más que lista para vivir una noche de pura adrenalina en el partido contra los Jackson Pandas. ¿Puedes imaginar lo que se siente estar ahí, en el estadio, con toda esa energía de los fans vibrando en el aire?</CardText>
                    <CardText>Desde el primer silbatazo, estaba en modo turbo, animando a mis Whales con todas mis fuerzas. ¡Estaba como una fiera enjaulada, gritando, saltando, y haciendo más ruido que una orquesta entera! Los Whales salieron a la cancha como verdaderos guerreros, pero los Pandas no estaban dispuestos a rendirse fácilmente. ¡Y vaya que nos dieron pelea!</CardText>
                    <CardText>El juego era una montaña rusa de emociones, con ambos equipos luchando con uñas y dientes por cada punto. Los Whales eran imparables en defensa, pero los Pandas eran unos maestros en el ataque. El marcador estaba tan apretado que parecía que el corazón se me saldría del pecho con cada jugada.</CardText>
                    <CardText>Cuando sonó la bocina al final del tiempo reglamentario, estábamos empatados a 124 puntos. ¡Una locura total! Y como si eso no fuera suficiente, ¡tuvimos prórroga! Ahí estaba yo, con el corazón en un puño, mordiéndome las uñas y rezando a todos los dioses del baloncesto para que los Whales se llevaran la victoria.</CardText>
                    <CardText>Pero, por desgracia, no fue así. Los Pandas anotaron ese último punto en el último segundo, robándonos la victoria por solo uno. ¡Fue como un puñetazo en el estómago! Estaba tan enfadada que casi rompo mi camiseta de los Whales. Pero sabes qué, al final del día, sé que mis Whales dieron todo lo que tenían. Y la próxima vez, ¡seguro que arrasan! ¡Vamos, Whales, siempre contigo!</CardText>
                    <CardText>
                        <small class="text-muted">Publicado el 9 de Abril, 2024</small>
                    </CardText>
                </CardBody>
            </Card>
        </CarouselSlide>
        <CarouselSlide Name="10">
            <Card class="mb-3" style="min-height: 600px">
                <div class="card-header horizontal-gradient text-center">Vientos de grandeza.</div>
                <CardBody>
                    <CardText>En medio de la furia desatada por un tifón que amenazaba con arrasar todo a su paso, dos equipos legendarios se enfrentaron en la cancha con la determinación de demostrar su valía. Los Wahpeton Ducks, imbuidos con el espíritu indomable de los patos salvajes, y los Tampa Honey Badgers, conocidos por su ferocidad y agresividad, se encontraron en un duelo épico que desafiaría incluso a los elementos mismos.</CardText>
                    <CardText>Desde el instante en que el silbato del árbitro resonó en el estadio, los jugadores se lanzaron a la batalla con una pasión desenfrenada. Las ráfagas de viento y la lluvia torrencial no lograron mermar su determinación. Cada dribbling, cada pase, cada disparo, era una oda al coraje y la perseverancia.</CardText>
                    <CardText>Los Ducks, liderados por su capitán de acero, se lanzaron a la ofensiva con una furia desenfrenada. Embestían el aro con la ferocidad de un tornado, mientras que su defensa se erigía como un muro impenetrable ante los embates de los Honey Badgers. Pero los Badgers no retrocedieron ante el desafío; con una agresividad sin igual, desplegaron su arsenal ofensivo y se aferraron al partido como un colmillo afilado aferrándose a su presa.</CardText>
                    <CardText>Cada jugada era una odisea de habilidad y astucia, un duelo entre titanes que desafiaba al destino mismo. Los minutos se deslizaban como hojas arrastradas por el viento, con el marcador fluctuando como las olas del mar embravecido. Pero en el corazón de la tormenta, ambos equipos se negaban a ceder, alimentados por la pasión y el deseo de la victoria.</CardText>
                    <CardText>Y cuando el silbato finalmente sonó, anunciando el fin de la batalla, fue el rugido de los Tampa Honey Badgers el que resonó más fuerte. Con un marcador de 113 a 108 a su favor, se alzaron como campeones en medio del caos de la naturaleza. Los Wahpeton Ducks, aunque derrotados, fueron aclamados como héroes por su coraje inquebrantable.</CardText>
                    <CardText>Así concluyó este enfrentamiento legendario, una epopeya deportiva forjada en el fragor de un tifón, donde el espíritu humano triunfó sobre la adversidad y donde el baloncesto se elevó a nuevas alturas de grandeza.</CardText>
                    <CardText>
                        <small class="text-muted">Publicado el 2 de Abril, 2024</small>
                    </CardText>
                </CardBody>
            </Card>
        </CarouselSlide>
        <CarouselSlide Name="9">
            <Card class="mb-3" style="min-height: 600px">
                <div class="card-header horizontal-gradient text-center">Tocado y hundido.</div>
                <CardBody>
                    <CardText>¡Gurgle gurgle! Qué partido tan emocionante entre los Boston Frogs y los Seattle Killer Whales, glub glub. Desde el principio, pude sentir la energía bajo el agua llenándolo todo, glub glub. Ambos equipos nadaban con gracia y fuerza, realizando jugadas increíbles que me dejaron maravillado, glub glub.</CardText>
                    <CardText>En el primer tiempo, los jugadores de ambas escuadras se movían como peces rápidos y ágiles, nadando de un lado a otro de la cancha, glub glub. Sus tiros y pases eran como burbujas de energía, llenos de fuerza y determinación, glub glub. El ambiente estaba lleno de vitalidad acuática, y yo me dejaba llevar por la corriente, animando a mis favoritos.</CardText>
                    <CardText>En el segundo tiempo, la competencia se intensificó, y los splash mates llenaron el estadio de entusiasmo, glub glub. Los jugadores saltaban por el aire como los delfines más gráciles, dejándome boquiabierto con sus giros y fintas, glub glub. Cada canasta hacía que el agua vibrara con emoción, creando ondas de electricidad inolvidables.</CardText>
                    <CardText>Durante el tercer tiempo, los triples se convirtieron en los protagonistas del partido, glub glub. Los jugadores lanzaban el balón como si fueran peces voladores, recorriendo largas distancias antes de caer en la red, glub glub. La multitud rugía como un coral submarino, creando una sinfonía acuática llena de emoción y adrenalina.</CardText>
                    <CardText>En el último tiempo, el estadio parecía una verdadera tormenta submarina, glub glub. Ambos equipos se esforzaban al máximo, desatando una energía inigualable bajo el agua, glub glub. Cada movimiento, cada rebote, generaba un arcoíris de burbujas electrificantes que llenaban el entorno acuático.</CardText>
                    <CardText>Al final, los Killer Whales lograron nadar con mayor destreza y aseguraron la victoria, glub glub. Cuando sonó la señal final, el agua se llenó de saltos y piruetas, mientras los fanáticos pez aplaudían y aleteaban de emoción.</CardText>
                    <CardText>En resumen, el partido entre los Boston Frogs y los Seattle Killer Whales fue un encuentro acuático emocionante, lleno de vitalidad y talento, glub glub. Los jugadores, como peces en el agua, nadaron con elegancia y fuerza, deslumbrándonos con su destreza y habilidad, glub glub. Fue un espectáculo que me dejó nadando en un mar de alegría y asombro. ¡Glub-tástico!</CardText>
                    <CardText>
                        <small class="text-muted">Publicado el 12 de Marzo, 2024</small>
                    </CardText>
                </CardBody>
            </Card>
        </CarouselSlide>
        <CarouselSlide Name="8">
            <Card class="mb-3" style="min-height: 600px">
                <div class="card-header horizontal-gradient text-center">Ecos de grandeza.</div>
                <CardBody>
                    <CardText>El partido de baloncesto entre Honolulu Meerkats y Birmingham Broncos fue una montaña rusa de emociones para mí. Desde el principio, pude sentir la tensión en el aire mientras ambos equipos saltaban a la cancha.</CardText>
                    <CardText>Durante el primer cuarto, vi cómo los Meerkats y los Broncos luchaban por el dominio del juego. Los Meerkats mostraron una defensa sólida y una buena sincronía en el ataque, mientras que los Broncos parecían estar un paso por delante en todas las jugadas. El marcador se mantuvo ajustado, con ambos equipos anotando canastas consecutivas.</CardText>
                    <CardText>Sin embargo, a medida que avanzaba el partido, comencé a notar algo extraño en mi percepción. Las voces en mi cabeza se intensificaron y se mezclaron con los rugidos y los gritos de los jugadores y los espectadores en el estadio. Me costaba distinguir si las voces eran reales o simplemente producto de mi imaginación distorsionada.</CardText>
                    <CardText>En el segundo y tercer cuarto, los Broncos comenzaron a tomar el control del juego. Sus jugadores demostraron una increíble velocidad y habilidad, anotando canasta tras canasta. Me quedé asombrado por su destreza en la cancha, pero las voces en mi cabeza no dejaban de repetirme que todo era parte de una conspiración en mi contra.</CardText>
                    <CardText>A medida que el partido avanzaba hacia el último cuarto, mi confusión y ansiedad aumentaron. Las voces en mi cabeza se volvieron más agresivas y me susurraban que estaba siendo observado y manipulado por fuerzas invisibles. Intenté enfocarme en el partido, pero cada vez era más difícil separar la realidad de la fantasía.</CardText>
                    <CardText>El partido terminó con una victoria abrumadora de los Broncos, con un marcador de 129 a 86 a favor de ellos. Aunque el resultado fue claro, mi percepción del juego estaba completamente distorsionada. Las voces en mi cabeza continuaban susurrándome, haciéndome dudar de lo que había presenciado.</CardText>
                    <CardText>Salir del estadio fue un desafío para mí, ya que las luces brillantes y el ruido de la multitud solo aumentaban mi paranoia. Me alejé con la sensación de que el partido fue solo una ilusión, parte de una realidad alterada que solo yo podía experimentar.</CardText>
                    <CardText>En resumen, el partido de baloncesto entre los Honolulu Meerkats y Birmingham Broncos terminó con una victoria abrumadora para los Broncos, pero para mí, fue una experiencia confusa y caótica que reflejaba mi lucha constante con la esquizofrenia.</CardText>
                    <CardText>
                        <small class="text-muted">Publicado el 5 de Marzo, 2024</small>
                    </CardText>
                </CardBody>
            </Card>
        </CarouselSlide>
        <CarouselSlide Name="7">
            <Card class="mb-3" style="min-height: 600px">
                <div class="card-header horizontal-gradient text-center">Los Sacramento Snails se coronan campeones contra los Boston Frogs.</div>
                <CardBody>
                    <CardText>La trepidante final de baloncesto al mejor de 7 entre los Sacramento Snails y los Boston Frogs fue una emocionante serie que mantuvo a los fanáticos al filo de sus asientos.</CardText>
                    <CardText>En el primer partido, los Sacramento Snails dominaron el encuentro, superando a los Boston Frogs con un marcador final de 135-108. Los Snails demostraron su habilidad en la cancha, anotando de forma consistente y defendiendo con eficiencia.</CardText>
                    <CardText>En el segundo partido, los Snails mantuvieron su racha ganadora, venciendo a los Frogs por 135-124. Los Snails continuaron su impresionante ofensiva, liderada por su estrella, quien anotó una gran cantidad de puntos.</CardText>
                    <CardText>Sin embargo, en el tercer partido, los Boston Frogs respondieron con una impresionante actuación defensiva y una ofensiva bien coordinada. Lograron imponerse sobre los Snails con un marcador de 105-93.</CardText>
                    <CardText>El cuarto partido fue uno de los más emocionantes de la serie. Ambos equipos estuvieron parejos durante todo el encuentro, pero los Snails lograron tomar la delantera en los últimos segundos, ganando el partido por un ajustado 101-100.</CardText>
                    <CardText>En el quinto partido, los Boston Frogs se recuperaron de la derrota anterior y demostraron su calidad en la cancha. Desplegaron una defensa sólida y mantuvieron a raya a los Snails, ganando el partido por 105-97.</CardText>
                    <CardText>El sexto partido fue una batalla épica, con ambos equipos luchando por la victoria. Los Snails aprovecharon al máximo su ventaja en casa y lograron superar a los Frogs con un marcador final de 102-94.</CardText>
                    <CardText>Finalmente, en el séptimo y último partido de la serie, los Sacramento Snails lograron mantener su dominio y se llevaron el campeonato con un marcador de 108-98. Con una ofensiva imparable y una defensa férrea, los Snails demostraron ser el mejor equipo de la serie.</CardText>
                    <CardText>
                        <small class="text-muted">Publicado el 27 de Febrero, 2024</small>
                    </CardText>
                </CardBody>
            </Card>
        </CarouselSlide>
        <CarouselSlide Name="6">
            <Card class="mb-3" style="min-height: 600px">
                <div class="card-header horizontal-gradient text-center">El Éxtasis del Deporte: El Mejor Partido de Baloncesto en la Historia.</div>
                <CardBody>
                    <CardText>Desde el comienzo, ambos equipos mostraron una intensidad y una habilidad que nos dejaron a todos sin aliento. Las jugadas ofensivas y defensivas se sucedieron sin pausa, cada equipo luchando por cada balón como si fuera el último.</CardText>
                    <CardText>Los Reno Bighorns tomaron la iniciativa en el primer cuarto, con su estrella, Jack Adams "Adamizador", liderando el ataque con una precisión y una determinación increíbles. Sus tiros desde el perímetro fueron simplemente imparables.</CardText>
                    <CardText>Pero los Wahpeton Ducks no se quedaron atrás. Charlie Rodriquez "Guru", su líder indiscutible, llevó a su equipo en el segundo cuarto con una exhibición de velocidad y agilidad. Sus habilidades para driblar y su capacidad para anotar desde cualquier posición dejaron a todos los presentes boquiabiertos.</CardText>
                    <CardText>El último cuarto fue un auténtico espectáculo. Los Reno Bighorns mostraron una resistencia y una determinación increíbles, remontando una desventaja de 10 puntos a falta de solo tres minutos para el final. Los triples de Paulino Gasolino "El Oso" desataron la locura en las gradas.</CardText>
                    <CardText>Pero los Wahpeton Ducks no estaban dispuestos a rendirse. Con unos segundos en el reloj, "Guru" se elevó desde la línea de tres puntos y anotó un tiro imposible que llevó su equipo a la victoria.</CardText>
                    <CardText>El resultado final, 103-105 a favor de los Wahpeton Ducks, no hace justicia al nivel de juego y a la pasión que presenciamos en este partido. Fue un enfrentamiento épico entre dos equipos formidables, luchando hasta el último segundo para conseguir la victoria.</CardText>
                    <CardText>En resumen, el partido entre los Reno Bighorns y los Wahpeton Ducks será recordado como uno de los mejores partidos de baloncesto de todos los tiempos</CardText>
                    <CardText>
                        <small class="text-muted">Publicado el 30 de Enero, 2024</small>
                    </CardText>
                </CardBody>
            </Card>
        </CarouselSlide>
        <CarouselSlide Name="5">
            <Card class="mb-3" style="min-height: 600px">
                <div class="card-header horizontal-gradient text-center">Los Broncos galopan hacia la victoria.</div>
                <CardBody>
                    <CardText>¡Relincho, relincho! Hoy presencié un emocionante partido de baloncesto entre los Tampa Honey Badgers y los Birmingham Broncos. Fue un juego de pura velocidad y habilidad donde los Broncos demostraron su dominio desde el principio.</CardText>
                    <CardText>Desde el primer relincho, los Broncos establecieron un ritmo rápido y furioso, anotando canasta tras canasta. Sus movimientos elegantes y coordinados eran como una danza en el aire. Parecían imparables, como una manada de corceles salvajes galopando hacia la victoria.</CardText>
                    <CardText>Los Honey Badgers intentaron mantenerse al ritmo, pero sus esfuerzos fueron en vano. Tropezaron constantemente con la brillante defensa de los Broncos y les resultaba difícil encontrar su oportunidad de anotar. Aunque lucharon con todas sus fuerzas, simplemente no podían competir con la potencia y la velocidad de los Broncos.</CardText>
                    <CardText>A lo largo del partido, los Broncos mostraron una increíble habilidad de tiro, anotando desde todas las posiciones posibles. Su precisión era como un arco lanzando flechas con una precisión impresionante. Mientras tanto, los Honey Badgers se esforzaban por encontrar su ritmo y se veían frustrados por el poderío defensivo de los Broncos.</CardText>
                    <CardText>El partido llegó a su fin con un marcador final de 86 a 118 a favor de los Broncos. Fue una victoria arrolladora, como una carrera sin obstáculos hacia la línea de meta. Los Broncos demostraron su valía como un equipo cohesionado y dominante, mientras que los Honey Badgers se vieron superados por la fuerza deslumbrante de sus oponentes.</CardText>
                    <CardText>En definitiva, este partido de baloncesto entre los Tampa Honey Badgers y los Birmingham Broncos fue un espectáculo impresionante. Los Broncos jugaron como unos jinetes expertos, mientras que los Honey Badgers tuvieron dificultades para mantenerse a su nivel. ¡Relincho, relincho!</CardText>
                    <CardText>
                        <small class="text-muted">Publicado el 23 de Enero, 2024</small>
                    </CardText>
                </CardBody>
            </Card>
        </CarouselSlide>
        <CarouselSlide Name="4">
            <Card class="mb-3" style="min-height: 600px">
                <div class="card-header horizontal-gradient text-center">Pandas, eternos amantes de la siesta.</div>
                <CardBody>
                    <CardText>El partido entre los Wahpeton Ducks y los Jackson Pandas fue una exhibición de la incompetencia y debilidad del equipo de los Pandas. Aunque lograron anotar 108 puntos, la mayoría de ellos no fueron más que suerte y errores defensivos por parte de los Ducks.</CardText>
                    <CardText>Desde el inicio del juego, los Pandas demostraron su incapacidad para competir a un nivel de alto rendimiento. Su defensa era inexistente, permitiendo que los Ducks anotaran con facilidad en cada posesión. Además, su falta de coordinación y disciplina en ambos lados de la cancha fue obvia.</CardText>
                    <CardText>A pesar de los esfuerzos desesperados de los Pandas por mantenerse en el juego, su ineptitud y falta de talento les impidió acercarse al marcador. El equipo carecía de jugadores destacados y ninguna de sus estrategias fue efectiva contra la defensa de los Ducks.</CardText>
                    <CardText>Los Pandas solo lograron anotar puntos en situaciones de contraataque o gracias a jugadas aisladas de uno o dos jugadores. Su falta de juego en equipo y comunicación fue evidente en todo momento.</CardText>
                    <CardText>En resumen, el partido entre los Wahpeton Ducks y los Jackson Pandas fue un ejemplo de la falta de habilidad y competencia de los Pandas. Su derrota por 122 a 108 solo confirmó lo que todos ya sabían: los Pandas son un equipo débil y sin posibilidades de éxito en el básquetbol.</CardText>
                    <CardText>
                        <small class="text-muted">Publicado el 16 de Enero, 2024</small>
                    </CardText>
                </CardBody>
            </Card>
        </CarouselSlide>
        <CarouselSlide Name="3">
            <Card class="mb-3" style="min-height: 600px">
                <div class="card-header horizontal-gradient text-center">Pandas al borde de la extinción.</div>
                <CardBody>
                    <CardText>¡Oh, vaya juego tuvimos el otro día, amigos! ¡Los Reno Bighorns dominaron el encuentro de baloncesto contra los Jackson Pandas de principio a fin! ¡Fue una exhibición impresionante de talento y habilidad por parte de nuestros queridos Bighorns!</CardText>
                    <CardText>Desde el primer salto, nuestros chicos salieron a la cancha con una determinación inquebrantable. ¡No había vuelta atrás en su búsqueda de la victoria! Fue increíble verlos volar por la cancha, anotando canasta tras canasta sin piedad. ¡Nuestro ataque fue imparable, como un tornado de encestes!</CardText>
                    <CardText>Y hablemos de nuestra defensa, ¡simplemente no tenían oportunidad los pobres Pandas! Los Bighorns ejercieron una presión implacable sobre sus oponentes, negándoles cualquier oportunidad de respirar en la cancha. Robo tras robo, bloqueo tras bloqueo, ¡no había escape para los Pandas bajo nuestra feroz defensa!</CardText>
                    <CardText>Pero lo que realmente me dejó sin palabras fue el desempeño de nuestro talentoso líder, Paulino Gasolino. ¡Fue simplemente sublime! Sus triples y clavadas eran como fuegos artificiales en el cielo nocturno. Fue un espectáculo digno de admirar.</CardText>
                    <CardText>Aunque no podemos olvidar mencionar el gran trabajo de Emma Zhang y Grace Upton también. ¡Estas chicas estuvieron en llamas toda la noche! Sus tiros precisos y jugadas en equipo demostraron una vez más por qué los Bighorns son el equipo a seguir.</CardText>
                    <CardText>Y qué decir de esos rebotes, ¡como si fueran muros de acero! ¡No había forma de que los Pandas pudieran hacer algo ante nuestra imbatible voluntad!</CardText>
                    <CardText>Amigos, fue una noche para recordar, una victoria abrumadora y llena de emoción para nuestros Reno Bighorns. ¡Celebramos con júbilo mientras nuestros jugadores se deleitaban en su merecido triunfo! ¡Viva el baloncesto, viva los Bighorns! ¡Estamos listos para más victorias en el futuro!</CardText>
                    <CardText>
                        <small class="text-muted">Publicado el 9 de Enero, 2024</small>
                    </CardText>
                </CardBody>
            </Card>
        </CarouselSlide>
        <CarouselSlide Name="2">
            <Card class="mb-3" style="min-height: 600px">
                <div class="card-header horizontal-gradient text-center">Los suricatos salen de la madriguera.</div>
                <CardBody>
                    <CardText>En un emocionante partido entre los Little Rock Wombats y los Honolulu Meerkats, fue este último quien dominó el encuentro de principio a fin, terminando con una abrumadora ventaja de 82-132.</CardText>
                    <CardText>El partido comenzó con los Meerkats estableciendo su ritmo desde el principio, logrando una rápida ventaja en el marcador. Mientras tanto, los Wombats luchaban por encontrar su lugar en la cancha, cometiendo varios errores y fallando en aprovechar las oportunidades de anotar.</CardText>
                    <CardText>A lo largo del juego, los Meerkats demostraron una gran coordinación en equipo y una excelente capacidad de tiro, anotando puntos desde todas las posiciones en la cancha. Además, jugaron una defensa sólida, dificultando el avance ofensivo de los Wombats y asegurándose de que cada posesión fuera difícil para su oponente.</CardText>
                    <CardText>Por otra parte, los Wombats mostraron destellos de talento y lograron anotar algunos puntos, pero no fueron suficientes para mantenerse al ritmo de los Meerkats. Su falta de coordinación y errores en los pases fueron aprovechados por sus oponentes, quienes capitalizaron cada oportunidad y aumentaron aún más su ventaja en el marcador.</CardText>
                    <CardText>En resumen, el partido entre los Little Rock Wombats y los Honolulu Meerkats fue dominado por estos últimos, quienes mostraron una sobresaliente actuación en ambos lados de la cancha. Su ventaja final de 82-132 refleja su superioridad y habilidad para controlar el juego en todo momento.</CardText>
                    <CardText>
                        <small class="text-muted">Publicado el 2 de Enero, 2024</small>
                    </CardText>
                </CardBody>
            </Card>
        </CarouselSlide>
        <CarouselSlide Name="1">
            <Card class="mb-3" style="min-height: 600px">
                <div class="card-header horizontal-gradient text-center">Mi más sentido pésame para los fans de los Jackson Pandas.</div>
                <CardBody>
                    <CardText>El partido entre los Wahpeton Ducks y los Jackson Pandas fue emocionante y lleno de acción de principio a fin. Ambos equipos mostraron una gran habilidad y determinación en la cancha, pero al final, los Ducks se llevaron la victoria con un marcador de 101-92.</CardText>
                    <CardText>El partido comenzó muy parejo, con ambos equipos anotando de manera constante y sin dar tregua. Los Pandas demostraron una gran precisión en los tiros de tres puntos, mientras que los Ducks destacaron en el juego en la pintura y en el contraataque. Al final del primer cuarto, el marcador estaba muy parejo, con una mínima ventaja para los Pandas de 25-24.</CardText>
                    <CardText>En el segundo cuarto, los Ducks intensificaron su defensa y comenzaron a presionar a los Pandas, lo que les permitió robar varios balones y convertirlos en puntos rápidos. El juego se volvió más físico y competitivo, con jugadas espectaculares por parte de ambos equipos. Los Ducks lograron tomar una pequeña ventaja al medio tiempo, liderando el marcador 52-48.</CardText>
                    <CardText>En la segunda mitad del partido, los Pandas no se dieron por vencidos y lucharon arduamente para recuperar la ventaja. Su defensa fue más sólida y lograron reducir la brecha en el marcador. Sin embargo, los Ducks demostraron su experiencia y habilidades en los momentos clave del partido. A medida que se acercaba el final del juego, los Ducks lograron mantener su liderazgo y asegurar la victoria con una ventaja de 9 puntos, cerrando el partido con un marcador final de 101-92.</CardText>
                    <CardText>Ambos equipos mostraron un gran desempeño en el partido, pero fueron los Ducks quienes lograron capitalizar sus oportunidades y llevarse la victoria. Los jugadores clave fueron destacados, como el líder anotador de los Ducks, Jack Tylor, quien anotó 28 puntos, y el destacado jugador de los Pandas, Nikola Jovanovic, quien anotó 35 puntos y lideró su equipo en rebotes.</CardText>
                    <CardText>En resumen, el partido entre los Wahpeton Ducks y los Jackson Pandas fue intenso y emocionante. Los Ducks se llevaron la victoria con un marcador final de 101-92, gracias a su desempeño en ambos lados de la cancha y su capacidad para capitalizar las oportunidades de anotación.</CardText>
                    <CardText>
                        <small class="text-muted">Publicado el 19 de Diciembre, 2023</small>
                    </CardText>
                </CardBody>
            </Card>
        </CarouselSlide>
    </Carousel>
</CardDeck>
<CardDeck class="col-lg-4">
    <Card class="mb-3">
        <div class="card-header horizontal-gradient text-center">No tenéis modales.</div>
        <CardBody>
            <CardText>Jackson Pandas estalla de nuevo ante su derrota.</CardText>
            <CardText>
                <b>Lo que sois es unos hijos de puta.</b>
            </CardText>
            <CardText>
                <small class="text-muted">Si supierais la verdad sobre la granja humana que somos, más de la mitad no lo soportaría.</small>
            </CardText>
        </CardBody>
    </Card>
    <Card class="mb-3">
        <div class="card-header horizontal-gradient text-center">Los pandas indignados.</div>
        <CardBody>
            <CardText>El presidente de Jackson Pandas arremete contra la directiva una vez más.</CardText>
            <CardText>
                <b>¿Cómo que esta semana no juego? Esta liga está en mi contra.</b>
            </CardText>
        </CardBody>
    </Card>
    <Card class="mb-3">
        <div class="card-header horizontal-gradient text-center">Vuelve la FBA.</div>
        <CardBody>
            <CardText>El 4 de Marzo comienza de nuevo la FBA con la temporada 4.</CardText>
        </CardBody>
    </Card>
    <Card class="mb-3">
        <div class="card-header horizontal-gradient text-center">Terminó la temporada 3.</div>
        <CardBody>
            <CardText>Felicidades Sacramento Snails en la victoria de invierno!</CardText>
        </CardBody>
    </Card>
</CardDeck>
</div>

@code {

    private string _selectedSlide = "12";

}