@page "/Leaderboard"

<h3>Leaderboard</h3>

<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th>
                EQUIPO
            </th>
            <th>
                GP
            </th>
            <th>
                W
            </th>
            <th>
                L
            </th>
            <th>
                %
            </th>
            <th>
                DIF
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>EQUIPO 1</td>
            <td>4</td>
            <td>3</td>
            <td>1</td>
            <td>0.75</td>
            <td>65</td>
        </tr>
        <tr>
            <td>EQUIPO 2</td>
            <td>4</td>
            <td>2</td>
            <td>2</td>
            <td>0.5</td>
            <td>15</td>
        </tr>
        <tr>
            <td>EQUIPO 3</td>
            <td>4</td>
            <td>1</td>
            <td>3</td>
            <td>0.25</td>
            <td>-25</td>
        </tr>
        <tr>
            <td>EQUIPO 4</td>
            <td>4</td>
            <td>0</td>
            <td>4</td>
            <td>0</td>
            <td>-70</td>
        </tr>
    </tbody>
</table>

@code {

}
