@page "/Teams/Team/{codigo}"

@inject HttpClient Http

@using BasketLeague2.Utils.Models

<PageTitle>Team @Codigo</PageTitle>

<div>
    @if (_team != null)
    {
        <Button Color="Color.Primary" Clicked="@(async () => await FillRadarChart())">Show stats</Button>

        <Row>
            <Column ColumnSize="ColumnSize.Is6">
                <header>@_team.NombreCompleto</header>
                <img alt="Team logo" src=@($"assets/images/logos/{Codigo}_1.jpg") style="height: 350px;"/>
            </Column>
            <Column ColumnSize="ColumnSize.Is6">
                <RadarChart @ref="_radarChart" TItem="double"/>
            </Column>
        </Row>
    }
</div>

@code {

    [Parameter]
    public string Codigo { get; set; }

    private RadarChart<double> _radarChart = new();
    private string[] _labels = { "Ataque", "Tiro", "Defensa", "Rebote" };

    private List<string> backgroundColors = new List<string> { ChartColor.FromRgba(255, 99, 132, 0.2f), ChartColor.FromRgba(54, 162, 235, 0.2f), ChartColor.FromRgba(255, 206, 86, 0.2f), ChartColor.FromRgba(75, 192, 192, 0.2f), ChartColor.FromRgba(153, 102, 255, 0.2f), ChartColor.FromRgba(255, 159, 64, 0.2f) };
    private List<string> borderColors = new List<string> { ChartColor.FromRgba(255, 99, 132, 1f), ChartColor.FromRgba(54, 162, 235, 1f), ChartColor.FromRgba(255, 206, 86, 1f), ChartColor.FromRgba(75, 192, 192, 1f), ChartColor.FromRgba(153, 102, 255, 1f), ChartColor.FromRgba(255, 159, 64, 1f) };

    private Team _team;
    private string _logo;

    protected override async Task OnInitializedAsync()
    {
        await GetTeam();

        await FillRadarChart();
    }

    private async Task GetTeam()
    {
        var t = await Http.GetFromJsonAsync<IEnumerable<Team>>("data/teams.json");
        _team = t.First(t => t.Codigo == int.Parse(Codigo));
    }

    private async Task FillRadarChart()
    {
        await _radarChart.Clear();
        await _radarChart.AddLabelsDatasetsAndUpdate(_labels, GetRadarChartDataset());
    }

    private RadarChartDataset<double> GetRadarChartDataset()
    {
        return new RadarChartDataset<double>
        {
            Label = "Stats",
            Data = new List<double> { _team.Ataque, _team.Tiro, _team.Defensa, _team.Rebote },
            BackgroundColor = backgroundColors,
            BorderColor = borderColors,
            Fill = true,
            PointRadius = 3
        };
    }

}