@page "/Timetable"

@inject HttpClient Http

@using BasketLeague2.Utils.Models
@using BasketLeague2.Utils.Utils

<h3>Timetables</h3>

<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th>
                FECHA
            </th>
            <th>
                EQUIPO 1
            </th>
            <th>
                EQUIPO 2
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@DateTime.Now</td>
            <td>EQUIPO 1</td>
            <td>EQUIPO 2</td>
        </tr>
        <tr>
            <td>@DateTime.Now</td>
            <td>EQUIPO 3</td>
            <td>EQUIPO 4</td>
        </tr>
        <tr>
            <td>@DateTime.Now</td>
            <td>EQUIPO 2</td>
            <td>EQUIPO 3</td>
        </tr>
        <tr>
            <td>@DateTime.Now</td>
            <td>EQUIPO 4</td>
            <td>EQUIPO 1</td>
        </tr>
    </tbody>
</table>

<button @onclick="Generate">GENERATE TIMETABLES</button>

@code {
    public IEnumerable<Team> teams = new Team[] { };

    protected override async Task OnInitializedAsync()
    {
        await GetTeams();
    }

    private async Task GetTeams()
    {
        var t = await Http.GetFromJsonAsync<IEnumerable<Team>>("data/teams.json");        
        teams = teams.Concat(t.OrderBy(t => t.NombreCompleto));
    }

    private void Generate()
    {
        LeagueUtils.ListMatches(teams.ToList());
    }
}
