@page "/Timetable"

@inject HttpClient Http

@using BasketLeague2.Utils.Models
@using BasketLeague2.Utils.Utils

<h3>Timetables</h3>

<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th>
                FECHA
            </th>
            <th>
                EQUIPO 1
            </th>
            <th>
                EQUIPO 2
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in matches)
        {
            <tr>
                <td>@m.Fecha</td>
                <td>@m.Equipo1</td>
                <td>@m.Equipo2</td>
            </tr>
        }
    </tbody>
</table>

<button class="btn btn-primary" @onclick="Generate">GENERATE TIMETABLES</button>

@code {
    public IEnumerable<Team> teams = new Team[] { };
    public IEnumerable<Match> matches = new Match[] { };

    protected override async Task OnInitializedAsync()
    {
        await GetTeams();
    }

    private async Task GetTeams()
    {
        var t = await Http.GetFromJsonAsync<IEnumerable<Team>>("data/teams.json");
        teams = teams.Concat(t.OrderBy(t => t.NombreCompleto));
    }

    private void Generate()
    {
        matches = LeagueUtils.ListMatches(teams.ToList());
    }
}
