@page "/Timetable"

<h3>Timetables</h3>

<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th>
                FECHA
            </th>
            <th>
                EQUIPO 1
            </th>
            <th>
                EQUIPO 2
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@DateTime.Now</td>
            <td>EQUIPO 1</td>
            <td>EQUIPO 2</td>
        </tr>
        <tr>
            <td>@DateTime.Now</td>
            <td>EQUIPO 3</td>
            <td>EQUIPO 4</td>
        </tr>
        <tr>
            <td>@DateTime.Now</td>
            <td>EQUIPO 2</td>
            <td>EQUIPO 3</td>
        </tr>
        <tr>
            <td>@DateTime.Now</td>
            <td>EQUIPO 4</td>
            <td>EQUIPO 1</td>
        </tr>
    </tbody>
</table>

@code {

}
