<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BasketLeague 3</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="() => _expandSubNavLeaderboard = !_expandSubNavLeaderboard">
                <span class="oi oi-clipboard" aria-hidden="true"></span> Leaderboard
            </NavLink>
            @if (_expandSubNavLeaderboard)
            {
                <NavLink class="nav-link" href="Leaderboard/S2">
                    Temporada 2 (2022-2023)
                </NavLink>
                <NavLink class="nav-link" href="Leaderboard/S3">
                    Temporada 3 (2023-2024)
                </NavLink>
            }
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="() => _expandSubNavTimetables = !_expandSubNavTimetables">
                <span class="oi oi-clock" aria-hidden="true"></span> Timetables
            </NavLink>
            @if (_expandSubNavTimetables)
            {
                <NavLink class="nav-link" href="timetable/S2">
                    Temporada 2 (2022-2023)
                </NavLink>
                <NavLink class="nav-link" href="timetable/S3">
                    Temporada 3 (2023-2024)
                </NavLink>
                <NavLink class="nav-link" href="timetable/S4">
                    Temporada 4 (2024)
                </NavLink>
            }

        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="teams">
                <span class="oi oi-people" aria-hidden="true"></span> Teams
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="players">
                <span class="oi oi-person" aria-hidden="true"></span> Players
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="arena">
                <span class="oi oi-media-play" aria-hidden="true"></span> Arena
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="() => _expandSubNavResults = !_expandSubNavResults">
                <span class="oi oi-file" aria-hidden="true"></span> Results
            </NavLink>
            @if (_expandSubNavResults)
            {
                <NavLink class="nav-link" href="results/S2">
                    Temporada 2 (2022-2023)
                </NavLink>
                <NavLink class="nav-link" href="results/S2-PO">
                    Temporada 2 (Playoffs)
                </NavLink>
                <NavLink class="nav-link" href="results/S3">
                    Temporada 3 (2023-2024)
                </NavLink>
                <NavLink class="nav-link" href="results/S3-PO">
                    Temporada 3 (Playoffs)
                </NavLink>
            }
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="() => _expandSubNavDraft = !_expandSubNavDraft">
                <span class="oi oi-briefcase" aria-hidden="true"></span> Drafts
            </NavLink>
            @if (_expandSubNavDraft)
            {
                <NavLink class="nav-link" href="draft/history">
                    Historial Drafts
                </NavLink>
                <NavLink class="nav-link" href="draft/simulator">
                    Simulador Draft
                </NavLink>
            }
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="rules">
                <span class="oi oi-book" aria-hidden="true"></span> Rules
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool _collapseNavMenu = true;
    private bool _expandSubNavResults;
    private bool _expandSubNavLeaderboard;
    private bool _expandSubNavTimetables;
    private bool _expandSubNavDraft;

    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }

}