<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BasketLeague 3</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="() => expandSubNavLeaderboard = !expandSubNavLeaderboard">
                <span class="oi oi-clipboard" aria-hidden="true"></span> Leaderboard
            </NavLink>
            @if (expandSubNavLeaderboard)
            {
                <NavLink class="nav-link" href="Leaderboard/S2">
                    Temporada 2 (2022-2023)
                </NavLink>
                <NavLink class="nav-link" href="Leaderboard/S3">
                    Temporada 3 (2023-2024)
                </NavLink>
            }
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="() => expandSubNavTimetables = !expandSubNavTimetables">
                <span class="oi oi-clock" aria-hidden="true"></span> Timetables
            </NavLink>
            @if (expandSubNavTimetables)
            {
                <NavLink class="nav-link" href="timetable/S2">
                    Temporada 2 (2022-2023)
                </NavLink>
                <NavLink class="nav-link" href="timetable/S3">
                    Temporada 3 (2023-2024)
                </NavLink>
                <NavLink class="nav-link" href="timetable/S4">
                    Temporada 4 (2024)
                </NavLink>
            }

        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="teams">
                <span class="oi oi-people" aria-hidden="true"></span> Teams
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="players">
                <span class="oi oi-person" aria-hidden="true"></span> Players
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="arena">
                <span class="oi oi-media-play" aria-hidden="true"></span> Arena
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="() => expandSubNavResults = !expandSubNavResults">
                <span class="oi oi-file" aria-hidden="true"></span> Results
            </NavLink>
            @if (expandSubNavResults)
            {
                <NavLink class="nav-link" href="results/S2">
                    Temporada 2 (2022-2023)
                </NavLink>
                <NavLink class="nav-link" href="results/S2-PO">
                    Temporada 2 (Playoffs)
                </NavLink>
                <NavLink class="nav-link" href="results/S3">
                    Temporada 3 (2023-2024)
                </NavLink>
            }
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="rules">
                <span class="oi oi-book" aria-hidden="true"></span> Rules
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool expandSubNavResults;
    private bool expandSubNavLeaderboard;
    private bool expandSubNavTimetables;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}